In [1]:
import pandas as pd

In [2]:
test_df = pd.DataFrame(index=range(10)).T

In [36]:
test_series = []
for i in range(0, 1000):
    if i % 2 == 0:
        test_series.append(pd.Series(range(0, 10)))
    else:
        test_series.append(pd.Series(range(10,0,-1)))
df = pd.concat(test_series, axis=1).T
print(df.shape)
df.head()

(1000, 10)

    0  1  2  3  4  5  6  7  8  9
0   0  1  2  3  4  5  6  7  8  9
1  10  9  8  7  6  5  4  3  2  1
2   0  1  2  3  4  5  6  7  8  9
3  10  9  8  7  6  5  4  3  2  1
4   0  1  2  3  4  5  6  7  8  9

In [37]:
"""test_series1 = pd.Series(range(10))
test_series2 = pd.Series(range(10, 20))
test_series3 = pd.Series(range(20, 30))
test_series4 = pd.Series(range(30, 40))
test_series5 = pd.Series(range(40, 50))
test_series1"""

'test_series1 = pd.Series(range(10))\ntest_series2 = pd.Series(range(10, 20))\ntest_series3 = pd.Series(range(20, 30))\ntest_series4 = pd.Series(range(30, 40))\ntest_series5 = pd.Series(range(40, 50))\ntest_series1'

In [38]:
"""df = pd.concat([test_series1, test_series2, test_series3, test_series4, test_series5], axis=1).T
df"""

'df = pd.concat([test_series1, test_series2, test_series3, test_series4, test_series5], axis=1).T\ndf'

In [39]:
def median_top_bottom_values_from_dataframe(df, bottom_percent=0.5, top_percent=0.5):
    bottom_values = []
    top_values = []
    for key, value in df.iteritems():
        # get true percentage
        bottom_percent = bottom_percent*0.01
        top_percent = top_percent*0.01
        # foreach column, drop nans and get the number of starting events, sorted.
        single_col = df[key].dropna()
        single_col = single_col.sort_values()
        nums = len(single_col)
        # collect top (top subset) 0.5% and bottom 0.5% of values
        bottom_subset = int(bottom_percent*nums)
        top_subset = int(top_percent*nums)
        # get the median values from the bottom/top 0.5%
        median_bottom = single_col[:5].median()
        median_top = single_col[-5:].median()
        # append to list of bottom/top values
        bottom_values.append(median_bottom)
        top_values.append(median_top)
        
    return bottom_values, top_values

In [40]:
bottom, top = median_top_bottom_values_from_dataframe(df)

In [58]:
bottom = [1, 1, 2, 3, 4, 5]
top = [10, 0, 0, 0, 0, 2]

In [59]:
top

[10, 0, 0, 0, 0, 2]

In [60]:
for i in range(len(bottom)):
    print(min(bottom[i], top[i]), max(bottom[i], top[i]))

(1, 10)
(0, 1)
(0, 2)
(0, 3)
(0, 4)
(2, 5)

In [48]:
min([top, bottom])

[0, 1, 2, 3, 4, 5]