In [1]:
import pandas as pd
import numpy as np
import os

In [10]:
gatk = pd.read_table(
    '/home/bay001/projects/modules/rnaseq_tests-0.0.2/wf_rnaseqscatter_pe/gatk_results/EW60_gatk.txt',
    index_col=0,
    comment='#'
)
gatk = gatk[['EW60_S31_L005_R1_001.polyATrim.adapterTrim.rmRep.sorted.rg.bam']]
gatk.columns = ['gatk']
gatk.head()

                   gatk
Geneid
ENSG00000223972.4     0
ENSG00000227232.4   280
ENSG00000243485.2     0
ENSG00000237613.2     0
ENSG00000268020.2     0

In [11]:
cwl = pd.read_table(
    '/home/bay001/projects/modules/rnaseq_tests-0.0.2/wf_rnaseqscatter_pe/results/EW60_cwl.txt',
    index_col=0,
    comment='#'
)
cwl = cwl[['EW60_S31_L005_R1_001.fastqTr.sorted.STARUnmapped.out.sorted.STARAligned.out.sorted.bam']]
cwl.columns = ['cwl']
cwl.head()

                   cwl
Geneid
ENSG00000223972.4    0
ENSG00000227232.4  271
ENSG00000243485.2    0
ENSG00000237613.2    0
ENSG00000268020.2    0

In [13]:
pd.merge(gatk, cwl, how='outer', left_index=True, right_index=True).corr()

          gatk       cwl
gatk  1.000000  0.999753
cwl   0.999753  1.000000