In [22]:
import pysam
from collections import defaultdict, Counter
from tqdm import tnrange, tqdm_notebook
import os
import pandas as pd

In [2]:
def get_num_mapped(bamfile):
    num_stats = pysam.idxstats(bamfile).split('\n')
    total_mapped = 0
    for stat in num_stats:
        try:
            chrom, chrom_len, num_mapped, num_unmapped = stat.split('\t')
            total_mapped += int(num_mapped)
        except ValueError:
            print(stat)
            pass
    return total_mapped

In [7]:
def get_cell_barcode_counts(bamfile):
    '''
    Generates a dictionary of counts for each barcode observed in the XC tag
    :param bamfile: bamfile output from dropseqtools (star_gene_exon_tagged)
    :return: Dictionary of counts for each barcode detected
    '''
    final_bam = pysam.AlignmentFile(bamfile, "rb")
    cell_barcode_counts = Counter()
    # progress = tnrange(get_cell_barcode_counts(bamfile))
    for read in final_bam.fetch():
        barcode = dict(read.tags)['XC']
        cell_barcode_counts[barcode] +=1
        # progress.update(1)
    return cell_barcode_counts

In [8]:
def get_cell_barcode_counts_brian(bamfile):
    '''
    Generates a dictionary of counts for each barcode observed in the XC tag
    :param bamfile: bamfile output from dropseqtools (star_gene_exon_tagged)
    :return: Dictionary of counts for each barcode detected
    '''
    samfile = pysam.AlignmentFile(bamfile,"rb")
    # progress = tnrange(get_cell_barcode_counts(bamfile))
    all_barcodes = defaultdict(list)
    for read in samfile.fetch():
        barcode = read.get_tag('XC')
        umi = read.get_tag('XM')
        all_barcodes[barcode].append(umi)
        # progress.update(1)
    return all_barcodes

In [57]:
bamfile = '/projects/ps-yeolab3/bay001/for_alexc/barnyard_troubleshooting_inputs/from_alex/results/WT_Organoid_D71_SSS_star_gene_exon_tagged.bam'

In [55]:
%%timeit
cell_barcode_counts = get_cell_barcode_counts(bamfile)

1 loop, best of 3: 1min 58s per loop

In [58]:
all_barcodes = get_cell_barcode_counts_brian(bamfile)

In [47]:
output_dir = '/home/bay001/scratch/'
out_file = os.path.join(output_dir, 'emily.txt')
with open(out_file, 'w') as f:
    for key, value in cell_barcode_counts.iteritems():
        f.write('{}\t{}\n'.format(str(key), value))

In [59]:
out_file = os.path.join(output_dir, 'brian.txt')
with open(out_file, 'w') as f:
    for key, value in all_barcodes.iteritems():
        f.write('{}\t{}\n'.format(str(key), len(value)))

In [ ]:
out_file = os.path.join(output_dir, 'brian.txt')
with open(out_file, 'w') as f:
    for key, value in all_barcodes.iteritems():
        f.write('{}\t{}\n'.format(str(key), len(value)))

In [60]:
df = pd.read_table(out_file, names=['barcode','from_bam_count'])
df[df['from_bam_count']>2000].shape

(2549, 2)

In [50]:
df.drop_duplicates().shape

(1227648, 2)

In [51]:
counts_from_fastq = pd.read_table(
    '/projects/ps-yeolab3/bay001/for_alexc/barnyard_troubleshooting_outputs/naive_demux.txt',
    names=['barcode','from_fastq_count']
)
counts_from_fastq.head()

        barcode  from_fastq_count
0  ATTACATCCGGT                 2
1  TTTGGAGCAAAA                 2
2  CGCCGCGCACCC                 1
3  CAGGGGTCCATT                 5
4  ATAAAATTATCA                 1

In [52]:
counts_from_fastq[counts_from_fastq['from_fastq_count']>2000].shape

(2181, 2)

In [53]:
merged = pd.merge(counts_from_fastq, df, how='outer', left_on='barcode', right_on='barcode')

              barcode  from_fastq_count  from_bam_count
0        ATTACATCCGGT                 2             2.0
1        TTTGGAGCAAAA                 2             2.0
2        CGCCGCGCACCC                 1             NaN
3        CAGGGGTCCATT                 5             4.0
4        ATAAAATTATCA                 1             NaN
5        ATCTCGTTACAT                 2             2.0
6        CAGGGGTCCATG                 1             1.0
7        TATTAGAACAAA                 1             NaN
8        CCTAATACTGCC                 4             2.0
9        CCTAATACTGCA                42            30.0
10       TGGGGCCTTTTG                 1             NaN
11       TATATCGATGTT                 1             NaN
12       CCACTGTCTCTT                20             1.0
13       GTGTCACGTTTT                 1             1.0
14       GCCACTCTATGC                 1             NaN
15       GGCCACGCCGCA                 1             NaN
16       GCTACTGGAGCT                 3             3.0
17       ATCCAGGGTTCT                 1             NaN
18       GGGGTGGTGAGG                 1             NaN
19       CTATTCCTAAAT                 1             NaN
20       CCACTGTCTCTC                85            65.0
21       CTCGGTAAACAC                 1             1.0
22       GGCTACGTAGTC                 1             NaN
23       GCTACTGGAGCC                 6             6.0
24       GGTGGCCCTGGG                 1             1.0
25       TTTAACCAACCA                 9             6.0
26       ATGGGGTAGAAG                 6             3.0
27       TTTAACCAACCC                 5             3.0
28       TTTAACCAACCG                11             8.0
29       TCTCACCGCGGT                 1             NaN
...               ...               ...             ...
1639572  TTTTGCCCCCTA                 1             NaN
1639573  TCTGATAGTCTT                 1             1.0
1639574  TTCATTAAGTCC                 1             1.0
1639575  TGGTTGAGGCGA                 1             1.0
1639576  CTTGGGGCAGGC                 1             1.0
1639577  ACCCAGGTTCTA                26            13.0
1639578  CTCGTACACCGG                 2             2.0
1639579  CAAGCGAGAGGT                 2             1.0
1639580  ACACATATTATA               196           143.0
1639581  GCACATAGGGGT                 1             NaN
1639582  ACACATATTATC                 1             NaN
1639583  TAAAATATCGTT                 1             NaN
1639584  CTGAGATTTTCA                 1             NaN
1639585  TTCATTAAGTCT                 1             1.0
1639586  TAAACCAGAGTA                 3             2.0
1639587  CTTGGGGAGCAG                 1             NaN
1639588  TAAACCAGAGTC                 1             NaN
1639589  GGCCTCTTTACT                 1             1.0
1639590  CACGGCTTTTCT                 1             1.0
1639591  GACCGCTATTTA                 1             NaN
1639592  CTCTGGCTTTCG                 3             1.0
1639593  TACATACCTNCT                 1             NaN
1639594  GCTACCCCACGA                 1             1.0
1639595  CCTATCGCGTTG                 4             3.0
1639596  TATGACCGGTCT               192           148.0
1639597  GAGTGGTGAGGT                 2             2.0
1639598  TAGCGAGGGGGT                 1             NaN
1639599  GAAGGGTGTGTC                 1             1.0
1639600  ATCCGCCGAGCT                 7             1.0
1639601  CGACTTAGCAAC                10             9.0

[1639602 rows x 3 columns]