In [10]:
import pandas as pd
import numpy as np
from pandas.util.testing import assert_frame_equal
import os

In [11]:
pipeline = '/home/bay001/scratch/taggedgeneexon.summary'
alex = '/home/iachaim/scratch/SeqWell/Yeo/2018-05-22_MIT_vs_InHouse/results/MIT_SSS_5_star_gene_exon_tagged_mixed_230.dge.summary.tsv'

In [12]:
pipelinedf = pd.read_table(pipeline, comment='#', index_col=0)
print(pipelinedf.shape)
alexdf = pd.read_table(alex, comment='#', index_col=0)
print(alexdf.shape)

(230, 3)
(230, 2)

In [13]:
alexdf.sort_values(by=['NUM_TRANSCRIPTS','NUM_GENES'], inplace=True)
alexdf.tail()

              NUM_GENES  NUM_TRANSCRIPTS
CELL_BARCODE
GACTTTGTTAGC       3996            11586
CTAGTATACCCA       5349            12140
AGGGCACTGGAT       5245            14311
ATTGAACTTGGT       4768            14958
TGCCCCGGGAGA       5134            15899

In [14]:
pipelinedf.head()
pipelinedf = pipelinedf[['NUM_GENES','NUM_TRANSCRIPTS']]
pipelinedf.sort_values(by=['NUM_TRANSCRIPTS','NUM_GENES'], inplace=True)
pipelinedf.tail()

              NUM_GENES  NUM_TRANSCRIPTS
CELL_BARCODE
GACTTTGTTAGC       3996            11586
CTAGTATACCCA       5349            12140
AGGGCACTGGAT       5245            14311
ATTGAACTTGGT       4768            14958
TGCCCCGGGAGA       5134            15899

In [15]:
assert_frame_equal(alexdf, pipelinedf)

In [8]:
pipelinedf.to_csv("/home/bay001/scratch/pipeline.tsv", sep='\t', index=True, header=True)

In [9]:
alexdf.to_csv("/home/bay001/scratch/alex.tsv", sep='\t', index=True, header=True)