In [7]:
import pandas as pd

df = pd.DataFrame(
    {'Found':123, 'Not found':456},
    index=['Galgal5']
).T

In [8]:
df

           Galgal5
Found          123
Not found      456

In [10]:
df = df.div(df.shape[0])
df

           Galgal5
Found         61.5
Not found    228.0

In [11]:
df.shape[0]

2