In [1]:
%matplotlib inline
import pandas as pd
import os
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
input_file = '/home/bay001/projects/joy_covid_20200611/permanent_data/20200903_motifs_from_joy/IDR_motifs/nsp12-1.vs.nsp12-2.bed.annotated_proxdist_miRlncRNA.pickle'

In [3]:
data = pd.read_pickle(input_file)

In [4]:
df = pd.DataFrame(data['kmer_results']['all']['6']).T
df.columns = ['fg','bg','delta']
df.head()

         fg     bg     delta
AAAAAA  2.0  266.0 -9.174187
AAAAAC  1.0   89.0 -5.234792
AAAAAG  3.0  119.0 -5.751236
AAAAAT  2.0  165.0 -7.105941
AAAACA  2.0  107.0 -5.586578

In [5]:
df.loc['TGCATG']

fg        6.0000
bg       57.0000
delta    -2.8373
Name: TGCATG, dtype: float64