In [1]:
import pandas as pd

In [2]:
# filter OUT any cell that contains at least 1 count of a gene.

In [3]:
# make some fake small counts matrix
df = {'cell1':[1,0,1], 'cell2':[1,2,0], 'cell3':[1,2,0],'cell4':[0,0,1]}
df = pd.DataFrame(df, index=['ensg1','ensg2','ensg3'])
df

       cell1  cell2  cell3  cell4
ensg1      1      1      1      0
ensg2      0      2      2      0
ensg3      1      0      0      1

In [4]:
# some list of genes to filter out
genes_to_filter_out = ['ensg2','ensg1']
genes_to_filter_out

['ensg2', 'ensg1']

### First get genes whose count sum across each gene index is 0, then subset the main dataframe to include just those genes
- count can be anything, just change the 0 to some other number

In [5]:
cols = df.loc[genes_to_filter_out].sum() == 0
df[cols[cols].index]

       cell4
ensg1      0
ensg2      0
ensg3      1

### Alternative method using transpose (not sure if it's more efficient but should give the same result)

In [6]:
df.T[df.loc[genes_to_filter_out].sum() == 0].T

       cell4
ensg1      0
ensg2      0
ensg3      1